<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pk.com.Taj.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="pk.com.Taj.app.RewardActivity" />
        <activity
            android:name="pk.com.Taj.app.CartCustomizeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pk.com.Taj.app.NoConnectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="pk.com.Taj.app.AddQueueActivity" />
        <activity android:name="pk.com.Taj.app.AddressListActivity" />
        <activity android:name="pk.com.Taj.app.OrderDetailActivity" />
        <activity android:name="pk.com.Taj.app.OrderListActivity" />
        <activity android:name="pk.com.Taj.app.CartActivity" />
        <activity android:name="pk.com.Taj.app.BarcodeScannerActivity" />
        <activity android:name="pk.com.Taj.app.PlaceQueueActivity" />
        <activity android:name="pk.com.Taj.app.TableBookingDetailActivity" />
        <activity android:name="pk.com.Taj.app.TableBookingActivity" />
        <activity
            android:name="pk.com.Taj.app.CollectionDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="pk.com.Taj.app.CollectionListActivity" />
        <activity android:name="pk.com.Taj.app.SearchActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="pk.com.Taj.app.GoogleLocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pk.com.Taj.app.ImageViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pk.com.Taj.app.LocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="pk.com.Taj.app.ReviewListActivity" />
        <activity android:name="pk.com.Taj.app.FollowFollowingActivity" />
        <activity android:name="pk.com.Taj.app.UserTimelineActivity" />
        <activity android:name="pk.com.Taj.app.CommentActivity" />
        <activity android:name="pk.com.Taj.app.ReviewActivity" />
        <activity android:name="pk.com.Taj.app.HelpSupportActivity" />
        <activity android:name="pk.com.Taj.app.NotificationActivity" />
        <activity android:name="pk.com.Taj.app.ProfileActivity" />
        <activity
            android:name="pk.com.Taj.app.PlaceDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="pk.com.Taj.app.BookmarkActivity" />
        <activity android:name="pk.com.Taj.app.VerifyOTPActivity" />
        <activity android:name="pk.com.Taj.app.SendOTPActivity" />
        <activity android:name="pk.com.Taj.app.ForgotPasswordActivity" />
        <activity android:name="pk.com.Taj.app.SignUpActivity" />
        <activity android:name="pk.com.Taj.app.LoginActivity" />
        <activity
            android:name="pk.com.Taj.app.LoginSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pk.com.Taj.app.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pk.com.Taj.app.AppIntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pk.com.Taj.app.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="pk.com.Taj.app.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name="pk.com.Taj.app.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="pk.com.Taj.app.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_default_notification_channel_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>